.add-root {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative; /* Added */
}

.add-question {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background: #fff;
}

.add-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 40vh;
    width: 100%;
}

.plus {
    width: 10vw;
    text-align: center;
    text-shadow: black 5px 5px;
    color: #c8c8c8;
    height: inherit;
    font-size: 15vw;
}

.answer-feedback {
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute; /* Added */
    z-index: 10; /* Added */
    width: 100%;
    height: 100%;
    border: 2px black solid;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #FF6B6B;
}
