.answer-input {
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    width: 35vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:8vw;
    /* font-weight: bold; */
    color: black;
    box-shadow: black -10px 10px;
}

.answer-input::placeholder{
    color: grey;
    font-size: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* text-align: center;  */
}

.answer-input::-webkit-outer-spin-button,
.answer-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}