.compare-root{
    height: 90vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    overflow: hidden;
    position: relative; /* Added */
}

.compare-question{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width: 50%;
}

#one{
    background: #fff
}

.signs{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center ;
	width: 0px; 
    z-index: 1;
}

.answer-feedback {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    width: 100%;
    height:90vh;
    border: 2px black solid;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #FF6B6B;
}
