.compare-root{
    height: 90vh;
    display: flex;
}

.compare-question{
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	background-color: #EBD9B4;
	width: 50%;
}

#one{
    background-color: #9DBC98;
}

.signs{
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:center ;
	width: 0px; 
    z-index: 1;
}


