header{
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

.math-heading{
    color: white;
    text-decoration: none;
}

.math-heading:hover{
    color: #EDB5BD;
}