/* Base styles */
.root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #F9EFDB;
    font-weight: normal;
  }
  
  /* Left section styles */
  .left {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }
  
  /* Right section styles */
  .right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#login{
    font-size: 1.5rem;
}

  /* Form styles */
  form {
    background-color: #a4bfc0;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  /* Text styles for labels and headings */
  label {
    font-weight: normal;
    color: #000000;
    font-size: 1.1vw; /* Increased font size */
  }

  /* Login input styles */
  .input-login {
    width: 25vw;
    height: 3vh; /* Increased height */
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1vh; /* Increased margin */
    padding: 10px; 
    background-color: white;
    font-size: 1rem; /* Increased font size */
  }
  
  /* Placeholder styles */
  ::placeholder {
    color: grey;
    /* padding: 5px; Increased padding */
  }
  
  /* Button styles */
  .btn {
    font-size: 1.2rem; /* Use a more descriptive unit like rem */
    color: black;
    background-color: #ffd47d;
    border: 2px solid #000;
    width: 16vw;
    height: 7vh;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ffbc36;
  }
  
  /* Large text styles */
  .cur {
    font-size: 8rem;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .root {
      flex-direction: column;
    }
  
    .left,
    .right {
      width: 100%;
      height: 50%;
    }
  }
  