.word-problem-root{
    width: 90%;
    height: 90%;
    color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align: center;
}

.word-problem-question{
    font-weight: 500;
    font-family: "Poppins", system-ui;
    font-size: 2rem;
    text-align: center;
}



